@font-face {
    font-family: Amazingkids;
    src: url(AmazingKids.otf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:aquamarine;
}

.title {
    font-family: AmazingKids;
    margin-bottom: 10px;
    margin-top: -5px;
    text-align: center;
    font-size: 70px;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

/* game hidden */
.game {
    display: none;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
}

#start_button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    
}

.Buttons button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
}